{
   "stopwords": ["!","\"","$","%","&","'","(",")","*","+",",","-",".","...","0","1","2","3","4","5","6","7","8","9",";","<","=",">","?","@","\\","^","_","`","|","~","·","—","——","‘","’","“","”","…","、","。","〈","〉","《","》", "이", "가", "께서", "에서", "을", "는", "에", "에게", "께", "한테", "더러", "에게서", "한테서", "에서", "로", "으로", "으로서", "과", "와", "하고", "보다", "처럼", "만큼", "같이", "아", "야", "이여", "이시여", "에서만", "만", "도", "서도", "은", "조차", "마저", "까지", "부터", "이나", "이나마", "이라도", "나마", "라도", "야", "라야", "를"]
}